
* @Author: 蒋恩涛
* @Date:   2014-08-12 14:01:25
* @Last Modified by:   蒋恩涛
* @Last Modified time: 2014-08-13 23:28:39
*/

/*css reset*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 24px;
    overflow-x: hidden;
}
fieldset, img {
    border: 0;
}
ol, ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
em {
    font-style: normal;
}
input, button, select, textarea {
    outline: none;
}
textarea {
    resize: none;
}
form{
    margin: 0;
}
p {
    text-justify: distribute;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body{
    background-image: url(../img/bg.png);
}
/*css reset end*/

/*header*/
#header{
    width: 980px;
    margin: 0 auto;
}
#header h1{
    font-size: 60px;
    color: #0B0B0B;
    margin-top: 100px;
    font-weight: normal;
    text-align: center;
}
.login{
    float: right;
    font-size: 20px;
    margin-top: 0;
}
.login span{
    color: #ABABAB;
    margin-right: 5px;
}
.login a{
    color: #000000;
    transition: all ease-out .2s;
}
.login a:hover{
    color: #43E0E0;
}
.line{
    position: absolute;
    height: 4px;
    width: 100%;
    background-image: url(../img/line.png);
}
.line1{
    margin-top: 115px;
}
.line2{
    margin-top: -30px;
}
.select_menu{
    margin-top: 100px;
    vertical-align:middle;
}
.select_menu p{
    float: left;
    font-size: 20px;
    color: #ABABAB;
    margin-right: 30px;
}
.select_menu a{
    float: right;
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    transition: all ease-out .2s;
}
.select_menu a:hover{
    color: #43E0E0;
}
select{
    color: #ABABAB;
    font-size: 13px;
    border-color: #ABABAB;
}
option{
    color: #ABABAB;
    font-size: 13px;
}
/*header end*/

/*contain*/
#contain{
    width: 980px;
    margin:0 auto;
    margin-top: 130px;
}
#contain h1{
    line-height: 50px;
    font-size: 30px;
    color: #ABABAB;
    margin-right: 136px;
}
.signal{
    background-color: #FFF;
    margin-top: 30px;
    border-left: 12px solid #43E0E0;
    padding: 20px;
}
.signal p{
    font-size: 20px;
    color: #ABABAB;
    line-height: 15px;
}

/*翻页导航*/

.page_turn{
    width: 310px;
    margin: 0 auto;
    margin-top: 50px;
}
.page_turn div{
    float: left;
    margin: 4px;
}
.page_turn a{
    color: #ABABAB;
    font-size: 20px;
}
.page_turn a:hover{
    color: #43E0E0;
}
.page1,.page2{
    width: 30px;
    height: 30px;
}
.page1 a,.page2 a{
    margin: 10px 10px;
}
.next_page,.last_page{
    width: 100px;
    height: 30px;
}
.next_page a{
    margin: 0 18px;
    line-height: 32px;
}
.last_page a{
    margin: 0 10px;
    line-height: 32px;
}
.page{
    border: 1.5px solid #ABABAB;
    border-radius: 30px;
}
.page:hover{
    border:1.5px solid #43E0E0;
}
.present_page{
    border:1.5px solid #43E0E0;
}
.present_page a{
    color: #43E0E0;
}
/*contain end*/

/*footer*/
#footer{
    margin-top: 160px;
    margin-bottom: -40px;
    height: 80px;
}
#footer p{
    text-align: center;
    color: #ABABAB;
    font-size: 15px;
    line-height: 50px;
}
/*footer end*/

/*弹窗登陆*/
#w {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 30px;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
#loginmodal {
    width: 400px;
    height: 300px;
    padding: 15px 20px;
    background: #F2F2F2;
    border: 1px solid #43E0E0;
    text-align: center;
}
#loginmodal h1{
    display: block;
    width: 400px;
    height: 50px;
    line-height: 40px;
    font-size: 30px;
    color: #ABABAB;
    text-align: center;
    border-bottom: 1px solid #ABABAB;
}
#loginmodal p{
    color: #ABABAB;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: -25px;
}
.center{
    width: 440px;
    height: 60px;
    background-color: #DCDCDC;
    margin-top: 76px;
    margin-left: -20px;
}
.hidemodal{
    width: 50px!!important;
    height: 30px!!important;
    line-height: 30px;
    color: #ABABAB;
    font-size: 20px;
    background-color: #43E0E0;
    border: none;

}
.flatbtn-blu{
    margin-top: 15px;
    margin-left: 360px;
}
/*弹窗申请*/
#loginmodal1 {
    width: 400px;
    height: 467px;
    padding: 15px 20px;
    background: #F2F2F2;
    border: 1px solid #43E0E0;
    text-align: center;
}
#loginmodal1 select{
    width: 153px;
    height: 24px;
    margin-right: 2px;
}
.select_p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.select_p span{
    margin-right: -4px;
}
#loginmodal1 h1{
    display: block;
    width: 400px;
    height: 50px;
    line-height: 40px;
    font-size: 30px;
    color: #ABABAB;
    text-align: center;
    border-bottom: 1px solid #ABABAB;
}
#loginmodal1 p{
    color: #ABABAB;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: -25px;
}
.center1{
    width: 440px;
    height: 60px;
    background-color: #DCDCDC;
    margin-top: 69px;
    margin-left: -20px;
}
/*弹窗登陆end*/