<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conference_DAL.Properties.Settings.ConferenceConnectionString"
            connectionString="Data Source=59.68.29.111;Initial Catalog=Conference;Persist Security Info=True;User ID=CFUser;Password=CF@User"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>